$red : rgb(199, 58, 15);
$Green: hsl(159, 69%, 38%);
$Rose-50: rgb(252, 249, 247);
$Rose-100: rgb(244, 237, 235);
$Rose-300: hsl(14, 25%, 72%);
$Rose-400: hsl(7, 20%, 60%);
$Rose-500: hsl(12, 20%, 44%);
$Rose-900: hsl(14, 65%, 9%);